ipython==7.15.0
numpy==1.18.5
pandas==1.0.4
pytrec-eval==0.4
sacred==0.8.1
torch==1.5.0
tqdm==4.46.1
transformers==3.1.0
scipy==1.4.1
sentence-transformers==0.2.6.1
faiss-cpu==1.6.3
dataclasses
pyserini