# Site Settings
encoding                 : "utf-8"
locale                   : "en"
title                    : "Transformer Rankers"
description              : ""
# favicon                  : "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEACAMAAABrrFhUAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAC91BMVEUAAACjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWjMCWT0+HVAAAA/HRSTlMACSE6UmqDm6y0vMTM1Nzk7PT8CjFap8DY8BFjjLbf/rUEM26pDkeCvQeT0f0UXvMndcMlhtr648qymmlTSEE5KiIaEwsDXeVFKwE0l7GJYDcS9sKHTR2Sq3E2BZ50JjI+uJYuvvmqApXSb+1A2WIezlXySTwGiuJYKIBcfqAQ8Vcg1TXojTv160sv78EbJIFoZwxmZWQNo1tCCH94SjAV4MaRc63mcMmUfJ1Oj3L7Pd0Yx/ccrruoRsvXH3cWDz+FF/jbueksWUSZ3uHNv+ojGbewz0yOfaVP0O6inHmYQzhhhIvIpHZQxbPWKWym55CIr3tf0y26a59RVKEUVDYqAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB+IKHRAsEqk1PlwAABSlSURBVBgZ7cF5XJQF/gfwD5LmiTIaOppOeAaOYhl4hRcgOogHrmVRaoagUmKiWR6YiiHiUbRh4pUUHtsuqdt2SFnKkp2brlm5ZWapWVbqdmy7v88fP+X7zMzzwADP4DPI+Jr3Gz4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj6e4lfP/7r6Da5v2Khxk6bNApq3CDSZAls0D2jWtEnjRg2vb1D/Ov96frgWtWx1Q4Og1m3M1MHcpnVQgxtatcS1oa1/uxvbd7DQbZYON93Yzr8tvFhwx06dm/MKNe/cqWMwvE+Xrt1uDqRBAm/u1rULvEdI19DuVhrM2j20awi8QI+eDcPoIWENe/ZAndbrlltN9CjTrbf0Qh3V+7ZwVieiT99+/bsNuD1y4KBWg4cMjYqOiYmOGjpkcKtBAyNvH9Ctf7++fSJYnfDbeqPO8RvWmlWJbRxaf/iIKBuqZYsaMbx+aONYVqX1MD/UJXEjzaxMQPyo0WO6wG1dxoweFR/AyphHxqGOGNupO11LGPeH8VG4IlHj/zAuga517zQWV98ddybQldgJd92dCEMk3n3XhFi6knDnHbi6et0TwYpM4+6dCINNvHeciRVF3NMLV8+kCVZWENawZxQ8IqpnwzBWYJ0wCVfH5PtYQeyUyBB4UEjklFhWcN9k1L77k1je1OTIFHhcSmTyVJaXdD9q19hpJpYzfUYUaknUjOksxzRtLGpPTP1UapmnxKFWxU0xUyu1fgxqyQPdqfXgTD/UOr+ZD1Kr+wOoDWnJ1Jr1UAquipSHZlErOQ0eN3o2Ncal4ypKH0eN2aPhWW2TqdF+Dq6yOe2pkdwWHjSwD9Vu7Yg6oOOtVOszEJ4y92ErVeY9gjrikXlUsT48Fx7x6CyqJMxviTqj5fwEqsx6FB6wIIEqndNQp6R1pkrCAhhuIVWaTUadM7kZVRbCWImLqNLfD3WQX3+qLEqEgTJuptPix1BHPbaYTjdnwDBLltKp7xDUWUP60mnpEhhkWSYdLMsTUYclLrfQIXMZDPF4Fh1WZKOOy15Bh6zHYYCVOXRYtRp13upVdMhZiSu2JpN2lrUx8AIxay20y1yDK7S6A+0sT8BLPGGhXYfVuCJRS2lneRJe40kL7ZZG4Qrk9qWd5Sl4kacstOubixqztaed5Y/wKn+00K69DTV1C+0sT8PLPG2h3S2oobgIKizt4HXaWaiIiEON5AVQYWkHL9TOQkVAHmpiHe3qwyvVp9061MAw2jWzwSvZmtFuGNy2Jox2z8BLPUO7sDVwVyPaBcTAS8UE0K4R3LSeDp3gtTrRYT3cYptFhzvgte6gwywb3DGMDrPgxWbRYRjckD+PDhvgxTbQYV4+9NtIp03wYpvotBG6tV1Mp83wYpvptLgt9OpElS3wYluo0gl6dafTVBu8mG0qnbpDpziqPAuv9ixV4qDPSKpshVfbSpWR0MXPTJUJ8GoTqGL2gx7DqFYAr1ZAtWHQI4lq98Cr3UO1JOgQMpVqq+DVVlFtagiq50+N5vBqzanhj+o9Rw2LH7yYn4Uaz6F6z1NrMLzYYGo9j+oVUms8vNh4ahWiWksowsIptsGLbaMID6NYgurcQLF9B8VIeLGRFDu2U9yA6uyk+NMLFH1s8Fq2PhQv/IliJ6rzZ4q/dCmieBFe60WKoi5/ofgzqrOOIhJNKKbAa02haIJIinWoTnuKOCykyMmAl8rIoViIOIr2qM52iokYQ8UoeKlRVIzBRIrtqM4uit3AHoq/vgSv9NJfKfYAuyl2oTpmipZAJBV/s8EL2f5GRSTQksKMakRRLMYle6i4EV7oYSr24JLFFFGo2gKKl3FJJO06wevUp10kLnmZYgGq9gpFA1y2hwrrdfAy401U7MFlDSheQZWCcyiycdmrtPtr/RR4EVu7LNq9isuyKXKCUZV0KnqgzBQ6vBYHr9FqDx2moEwPKtJRlX4UeyFCmtLBOiUKXiFqmpUOTUMg9lL0QxWKrRSvQ1EvlU7WWQW3vwERs2/1xEmT3yyOwVUVs+TNyZMmrt4XA/HG7QWzrHRKrQfF6xTWYlTuLYqI/bBbuYJaz+6al5k6+wAVESV/n1J/C66CLfVH/r0kgooDs1Mz5+16llorVsJufwTFW6jU3FKKCXB6O5PVioi/bi5q1dzr4iNYrcy34TSBonQuKnOQineg0qsZdUgtaIta07YglTo06wWVd6g4iMqMowiwQS1/CvWITUctSY+lHlPyoWYLoBiHSoyg4nWUMz6cerybi1qQ+y71CB+Pcl6nYgRcC6WI2I/yYkbvog7vdYTHdXyPOuwaHYPy9kdQhMKlaDNFMlwIHr9uMauV+jY87O1UVmvxuvHBcCGZwhwNV56mYj1cC8meH/8+FQdKSz748KbX/kGtwo/gUR8VUusfr9304QclpQeoeD9+fnYIXFtPxdNwpSlFG1Sl5aFeyx4fMdQPCr9eow8X0anDbnjQ7g50Kjo8upcfFH5DRzy+rNehlqhKG4qmcGEZFXfBXVFPNafDP+FB/6RD86ei4K67qFiGiu6hSGgL9+27hw4H4TEH6XDPPrivbQLFn1BBRhbFItRIZA4VK7bAQ7asoCInEjWyiCIrA+XNoGIMamZOAhVToM/u7A39Cgv7bcjeDX2mUJEwBzUzhooZKG8WxRHU1McmioQe0CGyNR1aR0KHHgkUpo9RU0coZqGc3lQ8hRo7SsVCVCfmkSPUOPJIDKqzkIqjqLGnqOgNrU8ownJRY3nNKUpDUKXEJwJYQcATiahSSClF81zUWG4YxSfQakbxKdyQnx1aUhKanQ/FAio+Q1U2H6NLxzajKp9RsQCK/OzQkpLQ7Hy44VOKZtAYQcV46JfXhGWa5EHkL6ZYhMolro1gJSLWJqJyiygW50PkNWGZJnnQbzwVI6DWgOJfc6Fbl61UbO0C8TlFajAq06o7q9C9FSoTnErxOUSXrVRs7QLd5v6LogHUwim+gH5JdEiCSKdiIFxL7FbEKhV1S4RrA6lIh0iiQxL0+4IiHCqtqHgHuvlTxR9lgltQHIdL+7dTbWrnp+vVe7rzVKpt3w+XjlO0CEYZf6r4Q7d3qGgFp1EUmTHQLZkqyRBfUnwOVwZ3oEpCwWqUWV2QQJUOg+HK5xRfQiRTJRm6xWRSjIJTB4od0C3NRBVTGsqcoGgKF06Y6ZT18H447H84i07mE3ChKcUJlEkzUcWUBt12UHSAw1dUPA7dtlFjG8qMpQi0oYKTEXQatwYaa8bRKeIkKrAFUoxFmW3U2AbdHqfiK9gdpZhng24F1CiASKVIQzm2r+mU1cmGcmydsuj0tQ3lpFGkQhRQowC62eZRHIXddIpvoF88NeIhTlF0hVbKaTqt+ggufLSKTqdToNWV4hREPDXiod83FNOh2GeliIN+x6hxDGIdxTZo7aCD9YwNLtnOWOmwA1rbKNZBHKPGMegXR2HdBxFJkWODfmZqmCEWUvSHxkY6ZH2LSn2bRYeN0OhPsRDCTA0z9LPlUERCNKC4CW4wU8MMcZCiEdQWWGgX2xFV6BhLO8sCqDWiOAhhpoYZbriJogFEEsVxuOEYNY5BDKJIgsrwCNodewlVeukY7SKGQyWJYhDEMWocgxuOUyShTHAgxYtwQzw14iHupzgFp82zadcoF9XIbUS72ZvhdIrifoh4asTDDS9SBAbjsjiKqflwQwE1CiAmUkyHw5JC2q2LQbVi1tGucAkcplNMhCigRgHckD+VIg6XdaI4C3dso8Y2iDsoAmCXt5d23wVDh+DvaLc3D3YBFHdAbKPGNrjjLEUnXNaZ4mG4I81EFVMaxBaKQtjtoN0qP+jit4p2O2BXSLEFIs1EFVMa3PEwRWdc1pziBbglmSrJUORSmKHwt1BxZB902neECos/FGaKXCiSqZIMt7xA0RyXFFNYouAWf6r4QxFMEQExdykV896Abm/Mo2LpXIgIimAo/KniD7dEWSiKAdxA8T3clESHJDgUskwhxHwqTHPghjkmKuZDFLJMIRyS6JAEN31PcQOAaRT94aYuW6nY2gUOQSwThDKDp1KxE27ZScXUwSgTxDJBcOiylYqtXeCm/hTTAJyi6Al35TVhmSZ5cCo28xJzMS5L2UpFUgrckpJExdYUXFZs5iXmYjjlNWGZJnlwV0+KUwBKKc7BbfnZoSUlodn5UCsOKiwMKkaZH6hYMRRuGrqCih9QpjiosDCoGGr52aElJaHZ+XDbOYpSoCWFJR+GizZTWDbBbZssFOZoGC7fQtES5ygKYbwnqQhCDQRR8SSMV0hxDukUTWC86RTWR1EDj1oppsN4TSjSMYBiHQw3mYp1qJF1VEyG4dZRDMAoim4wXGcKU2/USG8TRWcYrhvFKPxIMRpGOxRBsQg1tIgi4hCMNpriRzSi2ASjbaAo+gg19FERxQYYbRNFI7SmmAyDBcdSfIEa+4IiNhgGm0zRGq9RdITB/KnoiBrrSIU/DNaR4jXspegFg82g2IUrsItiBgzWi2Iv+lC8BIOdphiFKzCK4jQM9hJFH+RQZMBgD1IswxVYRvEgDJZBkYMIikQYa5+FZQJTcAVSAlnGsg/GSqSIQCBFNIx1guIsrshZihMwVjRFIJ6lWAJjbaQIxRUJpdgIYy2heBZNKZbBWM9TnMQVOUnxPIy1jKIp7qNIh0GKgwpZibCSW5PvPD45BZVImXz8zuRbS8JYicKgYhgkneI+nKboCWMUm1mdn6YNjEEFMQOn/cTqmIthjJ4Up3Ge4jkYI4h6tOmKcrq2oR5BMMZzFOexk+ICjFFIfS4ugcqSi9SnEMa4QLETT1AchjEKqZM5Gw7ZZupUCGMcpngCL1KEBcMQQdTL+m8bytj+baVeQTBEcBjFiwg5QDEGhig2U7f4DFySEU/dzMUwxBiKAyHAOIozMEZxUCH12vVzcfHPu6hXYVAxjHGGYhyAtyjaw3CHLBTDUSa63pgXvv6FVfjl6xfG1ItGmeEUlkMwXHuKtwB0pZgdA8OdooiHyprDrMThNVCJpzgFw8XMpugKIM9E8RUMt5HCWgy1+ll0Ias+1IqtFBthuK8oTHm4pClFfxjuHBUXoDGxLyvoOxEaF6g4B8P1p2iKy45SZGXAcEcoVkRDI/g2KzWstwVDI3oFxREYLiOL4igua0XFXTDcz1SMRDnrY6kSux7ljKTiZxjuLipaocx2ihIbjDb3JyoiUU6PH4uoKPqxB8qJpOKnuTCarYRiO8RJKiJhuE+oiB2L8vaf6dfdbO7e78x+lDc2lopPYLhIKk5C+OVQNILhogOo+G4udJv7HRUB0TBcI4ocPyjOU1h/heHmWKn4LRo6Rf9GhXUODPerleI87B6lYhWMdyPt9rSFLm330O5GGG8VFY/CoTUVz8Bw+Utp9+AJ6HDiQdotzYfhnqHiQziNp6IwD4aLK6JDwzRUI60hHYriYLi8QirGQ+U3Km6E8ebTKWHkIFRh0MgEOs2H8W6k4jeonSuiKBoMw9kuUC18ob8fXPDzXxhOtQs2GG5wEUXROWgcpSLJBuMNMFGj6IMvd/7nmU2Dzu3Oz999btCmZ/6z88sPiqhhGgDj2ZKoOAqtfaVULIQHjM+im7LGwwMWUlG6D+W0o8KSDQ9YVkq3lC6DB2RbqGiH8myvUZGzBh4w9HcrdbP+PhQesCaHitdsqGCMiYpfouEJvx6mTod/hSdE/0KFaQxc2Ei7V+AZJ2ZRh1kn4Bmv0G4jXLHF0+5eeIbt7gvhrFL4hbtt8Ix7aRdvg0sZAVRYZsJjft1wNowuhZ3d8Cs8ZqaFioAMVGJzAhWWmfAg25BvF35+sfGpZu+nTp2a+n6zU40vfr7w2yE2eNBMCxUJm1Gpk7SzzMQ1ZaaFdidRhetpZ5mJa8hMC+2uR1VC+tLOMhPXjJkW2vUNQZXGHqOdpR2uEe0stDs2FtXoMZ0OF1JwDUi5QIfpPVCtLc3ocNM+eL19N9Gh2RbosP97OrTpBS/Xqw0dvt8PXXa3oYM5HV4t3UyHNruh09BwOljPwIudsdIhfCh0W32ETslj4aXGJtPpyGq4oWUynTK/hVf6NpNOyS3hnp0WOv0YBa8T9SOdLDvhts9m0ynzv/Ay/82k0+zPUAMjAqgSFAUvEhVElYARqJGxjalS+gi8xiOlVGk8FjUUvNxCle2T4RUmb6eKZXkwau7N96jW7xzqvHP9qPbem7gi0dMsVDG9ewh12qF3TVSxTIvGlVrfgWqBa3NRZ+WuDaRah/UwQO6X1MickYs6KXdGJjW+zIUx3nmfGjmjXkKd89KoHGq8/w4Mk3dnBDUiTk9CnTLpdAQ1Iu7Mg5F6N2Q5H35sQx1h+/hDltOwN4zmf5bltHkyD3VA3pNtWM5Zf3jC7eEsJ+vTyBhcVTGRn2axnPDb4SGJP6xgeT8t34yrZvPyn1jeih8S4Tldvs5hBb+cWY2rYPWZX1hBztdd4Fm5M95jBdaXByxBrVoy4GUrK3hvRi48L+ahPXRh79HhIagVIcOP7qULex6KQS3xf95KFwL7DagHD6s3oF8gXbA+74/a9FFoIF3ae/6hNHhI2kPn99KlwNCPUNsynmrCShRefP2BaBgq+oHXLxayEk2eysBVMWRhCStjOvbuyRGJMEDiiJPvHjOxMiULh+AqGjQllZUrCm+0/MmBQ1FDQwc+ubxReBErlzplEK62uf+9OJVVC/sgaO3o9EmrE6FL4upJ6aPXBn0QxqpNvfjfuagT8q67vjl1sLRYmhR0/vjM/308fPLdKx9dcmhsy5iYlmMPLXl05d2Th3/8v5nHzwclLW1hoQ7Nr78uD3XJyuO3mlhLTLceX4k6KOOxRaX0uNJFj2WgzrK1qv9/bSz0EEub/6vfyoY6L+PVTxqtoMFWNPrk1Qx4kSEHC1Zl0hCZqwoODoFX2nd3z7ca/nKANXTgl4Zv9bx7H7xdypD0bQVBSUtbWKiLpcXSpKCCbelDUnCNCT60ueuwe7/5/ZWLhz/cOuv7XbEtAk2mwBaxu76ftfXDwxdf+f2be4d13XwoGD4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4+Pj4e8f9kMsMQr9xIaAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0xMC0yOVQxNjo0NDoxOCswMTowMGw7GF8AAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMTAtMjlUMTY6NDQ6MTgrMDE6MDAdZqDjAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg=="
avatar                   : "images/tRankers.png"
url                      : "https://guzpenha.github.io/transformer_rankers" # the base hostname & protocol for your site e.g. "https://mmistakes.github.io"
baseurl                  : "" # the subpath of your site, e.g. "/blog" leave blank if no subpath

publish_mode: editorial_workflow # required for Netlify
future: true # if the post's date is in the future

# Site Author
author:
  name                   : "Gustavo Penha" # appears in the footer and atom feed

comments                 : false # set it to false to disable comments
disqus:
  shortname              : # https://help.disqus.com/customer/portal/articles/466208-what-s-a-shortname-

atom_feed:
  path                   : # blank (default) uses feed.xml

# og_image                 : "/assets/images/mighil.png" # Open Graph/Twitter default site image, optional for seo and social sharing

# Social sharing
twitter:
  username               : _Guz_ # optional, for social sharing

# Analytics
analytics:
  google:
    tracking_id          :  # add your google tracking id here

# Reading Files
include:
  - _pages
  - "_redirects"
# Files excluded from Jekyll builds
exclude:
- README.md
- LICENSE
- Gemfile
- Gemfile.lock


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:title/
paginate: 5 # amount of posts to show
paginate_path: "/blog/page:num/"
timezone: # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones

collections:
  poetry:
    output: true
    permalink: /:collection/:title/

# Plugins
gems:
  - jekyll-paginate
  - jekyll-feed

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-feed


# Front matter defaults
defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: page
      comments: false
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      share: true
  # _poetry
  - scope:
      path: ""
      type: poetry
    values:
      layout: post
      share: false
  # _exclude    
exclude:
         - vendor
         - Gemfile
         - Gemfile.lock
         - node_modules
         - gulpfile.js
         - package.json      
